<%- include('includes/head.ejs') %>
    <%- include('includes/nav.ejs') %>
    <h1>Adding a user</h1>

    <form action="/add-user" method="POST">
        <div>
            <label for="title">New User</label>
            <input type="text" name="user">
        </div>
        <button type="submit">Add User</button>
    </form>
</body>
</html>