<header class="header">
    <a class="navbar <%= path === '/users' ? 'active' : '' %>" href="/users">All users</a>
    <a class="navbar <%= path === '/' ? 'active' : '' %>" href="/">Add User</a>
</header>