.navbar {
    display: inline-block;
    color: black;
    text-decoration: none;
    margin: 10px 10px;
}

.navbar:hover {
    color: blue;
}

.header {
    width: 100%;
    background-color: yellowgreen;
}

.active {
    color: yellow;
}
